
@model UserLoginModel
<form method="post">
    <input type="text" asp-for="UserName" class="form-control"/>
    <input type="password" asp-for="Password" class="form-control" />
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>